<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jorge-beta" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>JorgeBeta</name><js-module name="JorgeBeta" src="www/JorgeBeta.js"><clobbers target="cordova.plugins.JorgeBeta" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="JorgeBeta"><param name="android-package" value="cordova-plugin-jorge-beta.JorgeBeta" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/JorgeBeta.java" target-dir="src/cordova-plugin-jorge-beta/JorgeBeta" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="JorgeBeta"><param name="ios-package" value="JorgeBeta" /></feature></config-file><source-file src="src/ios/JorgeBeta.m" /></platform></plugin>